<?xml version='1.0' encoding='utf-8'?>
<configuration>
	<connectionStrings>
		<add name="DatabaseConString"
		 providerName="System.Data.ProviderName"
		 connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Northwind;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
	</connectionStrings>
</configuration>